
{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/wikiwikimaire/css/style.css') }}" type="text/css"/>
{% endblock %}
{% block body -%}

    <div class="container photoprojet">
        <div class="row">
            <div class="col-md-4">
                <p>Nom : {{ app.user.firstname }}</p>
                <p>Prenom(s) : {{ app.user.lastname }}</p>
            </div>
            <div class="col-md-4  col-md-offset-4">
                <ul>
                    <li>
                        <a href="{{ path('projet_create') }}">
                            <button class="btn btn-info">Créer un nouveau Projet</button>
                        </a>
                    </li>
                    <br>
                    <li>
                        <a href="{{ path('projet') }}">
                            <button class="btn btn-info">Rechercher un projet</button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {#<ul>
        <li>
            <a href="{{ path('projet_create') }}">
                <button class="btn btn-info">Créer un nouveau Projet</button>
            </a>
        </li>
        <br>
        <li>
            <a href="{{ path('projet') }}">
                <button class="btn btn-info">Rechercher un projet</button>
            </a>
        </li>
    </ul>
    connecte en tant que : {{ app.user.lastname }} {{  app.user.firstname}}#}
    <h3>Mes Projets</h3>

    <hr>
    {% for entity in projet %}
        <div class="container photoprojet">
            <div class="row">
                <div class="col-md-5">
                    <a href="#">
                        <img src="{{app.request.basepath}}/uploads/{{ entity.photo }}" class="img-thumbnail" >
                    </a>
                </div>
                <div class="col-md-7">
                    <h3>{{ entity.nomprojet }}</h3>
                    <p>{{ entity.description }}</p>
                    <a class="btn btn-info" href="{{ path('projet_detail', { 'id': entity.id }) }}">Detail</a>
                    <a class="btn btn-warning" href="{{ path('projet_edit', { 'id': entity.id }) }}">Editer</a>
                    <a class="btn btn-danger" href="{{ path('projet_delete', { 'id': entity.id }) }}">Supprimer</a>
                </div>
            </div>
        </div>
        <hr>
    {% endfor %}
{% endblock %}