
{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/wikiwikimaire/css/style.css') }}" type="text/css"/>
{% endblock %}
{% block body -%}

    <div class="container photoprojet">
        <div class="row">
            <div class="col-md-4 photoprofil">
                <img src="{{app.request.basepath}}/photos/{{ user.photoprofil }}" class="img-circle" >

                <p>Nom : {{ user.firstname }}</p>
                <p>Prenom(s) : {{ user.lastname }}</p>
                <p>Email : {{ user.email }}</p>
                <p>Adresse : {{ user.adressemairie }}</p>
                <p>Commune : {{ user.commune.nomcommune }}</p>
                <p>Contact : {{ user.phone }}</p>
                <p>Genre : {{ user.gender }}</p>
                <p>Biographie : {{ user.biography }}</p>
                {% if user.username == app.user %}
                <p><a href="{{ path('sonata_user_profile_edit') }}">
                        <button class="btn btn-primary">modifier son profil</button>
                    </a></p>
                {% endif %}

            </div>
                {% for entity in projet %}
                            <div class="col-md-3">
                                <a href="#">
                                    <img src="{{app.request.basepath}}/uploads/{{ entity.photo }}" class="img-thumbnail" >
                                </a>
                            </div>
                            <div class="col-md-5">
                                <h3>{{ entity.nomprojet }}</h3>
                                <p>{{ entity.description }}</p>
                                <a class="btn btn-info" href="{{ path('projet_detail', { 'id': entity.id }) }}">Detail</a>
                                {% if user.username == app.user %}
                                    <a class="btn btn-warning" href="{{ path('projet_edit', { 'id': entity.id }) }}">Editer</a>
                                    <a class="btn btn-danger" href="{{ path('projet_delete', { 'id': entity.id }) }}" onclick="return confirm('Voulez vous Réelement Supprimer ce projet?')">Supprimer</a>
                                {% endif %}
                            </div>

                    <hr>
                {% endfor %}

        </div>
    </div>
    <ul>
        <li>
            <a href="{{ path('projet_create') }}">
                <button class="btn btn-info">Créer un nouveau Projet</button>
            </a>
        </li>
        <br>
        <li>
            <a href="{{ path('projet') }}">
                <button class="btn btn-info">Rechercher un projet</button>
            </a>
        </li>
    </ul>

{% endblock %}