{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/wikiwikimaire/css/pageprofil.css') }}" type="text/css"/>

{% endblock %}

{% block body %}
    <div class="menu">
        <ul>
            <li>Commune de {{ app.user.commune.nomcommune }}</li>
            <li><a href="{{ path('fos_user_security_logout') }}">Se déconnecter <span class="glyphicon glyphicon-log-out"></span></a></li>
        </ul>
    </div>

    <a href="{{ path('projet') }}">
        <button class="btn btn-default">Rechercher un projet &nbsp;</button>
    </a>
    <a href="{{ path('projet_create') }}">
        <button class="btn btn-default ">Proposer un projet &nbsp;</button>
    </a>
    <a href="">
        <button class="btn btn-default">Rechercher un expert &nbsp;</button>
    </a>

    <div class="col-md-7 presentation">
        <div class="rectangle_22">
            <h5>Présentation de la commune</h5>
        </div>
        <div class="rectangle_3">
            <p> {{  user.descriptioncommmune }}
            </p>
        </div>
    </div>

    <div class="container photoprojet">
        <div class="row">
            <div class="col-md-3 col-md-offset-1 photoprofil">
                <div class="panel-body">
                    <div class="rectangle_1">
                        <img src="{{app.request.basepath}}/photos/{{ user.photoprofil }}" class="img-rectangle" >
                        <div class="texte">
                            <p class="font-weight"> {{ user.firstname }} {{ user.lastname }}</p>
                            <p>Mandat : {{ user.mandat }}</p>
                            <p>Population Commune (INSEE): <br>{{ user.population }} </p>
                            <div class="rectangle">
                                <p><i class="glyphicon glyphicon-envelope"></i>  {{ user.email }}</p>
                                <p><i class="glyphicon glyphicon-earphone"></i> {{ user.phone }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="rectangle_2">
            <h5>Projets de la commune</h5>
        </div>
        <div class="projects">
            {% for entity in projet %}
                <div class="row project">
                    {% if loop.index is even %}
                        <div class="col-md-5">
                            <a href="{{ path('projet_detail', { 'id': entity.id }) }}">
                                <img src="{{app.request.basepath}}/uploads/{{ entity.photo }}" class="img-thumbnail"  >
                            </a>
                        </div>
                        <div class="col-md-7">
                            <p>Description :</p>
                            <p>{{ entity.description }}</p>
                        </div>
                    {% else %}
                        <div class="col-md-7">
                            <p>Description :</p>
                            <p>{{ entity.description }}</p>
                        </div>
                        <div class="col-md-5">
                            <a href="{{ path('projet_detail', { 'id': entity.id }) }}">
                                <img src="{{app.request.basepath}}/uploads/{{ entity.photo }}" class="img-thumbnail" >
                            </a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
