{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/modern-business.css">
    <link rel="stylesheet" href="{{ asset('bundles/wikiwikimaire/css/contact.css') }}" type="text/css"/>
{% endblock %}

{% block body -%}


    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <a class="button-Retour" a href="{{ path('wiki_wiki_maire_homepage') }}"><p>Retour</p></a>
    <div class="rectangle">
    <h2>Nous Contacter</h2>
        </div>
    <form action="{{ path('contact') }}" method="post" {{ form_enctype(form) }} class="inscription">
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.telephone) }}
        {{ form_row(form.mail) }}
        {{ form_row(form.message) }}

        {{ form_rest(form) }}

        <input type="submit" value="Envoyer"/>
    </form>


{% endblock %}

