{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/modern-business.css">
    <link rel="stylesheet" href="{{ asset('bundles/wikiwikimaire/css/contact.css') }}" type="text/css"/>
{% endblock %}

{% block body -%}

    <form action="{{ path('contact') }}" method="post" {{ form_enctype(form) }} class="simon">
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.telephone) }}
        {{ form_row(form.mail) }}
        {{ form_row(form.message) }}

        {{ form_rest(form) }}

        <input type="submit" value="Submit"/>
    </form>

{% endblock %}