
{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/wikiwikimaire/css/home.css') }}" type="text/css"/>

    <!-- Optional theme -->
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
{% endblock %}

{% block body -%}

    <!-- Infos de connection -->
    <div class="container info_co">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <ul>
                <li>Commune de {{ app.user.commune.nomcommune }}</li>
                <li><a href="{{ path('fos_user_profile_show')}}">Mon Profil <span class="glyphicon glyphicon-user"></span></a></li>
                <li><a href="{{ path('fos_user_security_logout') }}">Se déconnecter <span class="glyphicon glyphicon-log-out"></span></a></li>
            </ul>
        </div>
    </div>

    <!-- Corps de la Page -->
    <div class="container corps_page">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <ul id="hiden">
                <li>
                    <a href="{{ path('projet_create') }}">
                        <button class="btn btn-default"><h2>Ajouter un nouveau Projet</h2></button>
                    </a>
                </li><br>
                <li>
                <a href=""><!-- A compléter avec la route vers les Experts -->
                        <button class="btn btn-default"><h2>Trouver un Expert</h2></button>
                    </a>
                </li>
            </ul>
            <!-- Barre de Recherche de Projet -->
            <div id="imaginary_container">
                <div id="recherche">
                    <h2 align="center">Rechercher un Projet</h2>
                </div>
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control quicksearch" placeholder="Entrez votre recherche" id="cache">
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <!--<button id="cache">Fait disparaitre</button>-->

    <!-- Projets Recherchés -->
    <div class="grid projet_hide">
        <div class="projects">
            {% for entity in entities %}
                <div class="row project element-item col-md-11">
                    {% if loop.index is even %}
                        <div class="col-md-5">
                            <a href="#">
                                <img src="{{ app.request.basepath }}/uploads/{{ entity.photo }}" class="img-thumbnail">
                            </a>
                        </div>
                        <div class="col-md-7">
                            <p>Description :</p>

                            <p>{{ entity.description }}</p>
                        </div>
                    {% else %}
                        <div class="col-md-7">
                            <p>Description :</p>

                            <p>{{ entity.description }}</p>
                        </div>
                        <div class="col-md-5">
                            <a href="#">
                                <img src="{{ app.request.basepath }}/uploads/{{ entity.photo }}" class="img-thumbnail">
                            </a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
        $(function()
        {
            $('.projet_hide').hide();
            $('#cache').keyup(function() {
                $('#hiden').hide(1000);
                $('.projet_hide').show(1000);
            });
        });
    </script>
    <script>
        $(function () {
            // quick search regex
            var qsRegex;
            // init Isotope
            var $grid = $('.grid').isotope({
                itemSelector: '.element-item',
                layoutMode: 'fitRows',
                filter: function () {
                    return qsRegex ? $(this).text().match(qsRegex) : true;
                }
            });
            // use value of search field to filter
            var $quicksearch = $('.quicksearch').keyup(debounce(function () {
                qsRegex = new RegExp($quicksearch.val(), 'gi');
                $grid.isotope();
            }, 200));
        });
        // debounce so filtering doesn't happen every millisecond
        function debounce(fn, threshold) {
            var timeout;
            return function debounced() {
                if (timeout) {
                    clearTimeout(timeout);
                }
                function delayed() {
                    fn();
                    timeout = null;
                }

                timeout = setTimeout(delayed, threshold || 100);
            }
        }
    </script>
{% endblock %}
