{% extends "::base.html.twig" %}

{% block title %} Accueil - {{ parent() }} {% endblock %}

{% block body %}

    <a href="{{ path('homepage_afterlogin') }}">
        <button class="btn btn-default">Connexion</button>
    </a>

    <div id="my_carousel" class="carousel slide" data-ride="carousel">
        <!-- Bulles -->
        <ol class="carousel-indicators">
            <li data-target="#my_carousel" data-slide-to="0" class="active"></li>
            <li data-target="#my_carousel" data-slide-to="1"></li>
            <li data-target="#my_carousel" data-slide-to="2"></li>
        </ol>
        <!-- Slides -->
        <div class="carousel-inner">
            <!-- Page 1 -->
            <div class="item active slider">
                <div class="carousel-page">
                    <img src="{{ asset('bundles/wikiwikimaire/img/slide/slide1.jpg') }}" class="img-responsive" style="margin:0px auto;">
                </div>
                <div class=" slide_bg" >Projet de Réhabilitation d'un vieux Gymnase</div>
            </div>

            <!-- Page 2 -->
            <div class="item slider">
                <div class="carousel-page">
                    <img src="{{ asset('bundles/wikiwikimaire/img/slide/slide2.jpg') }}" class="img-responsive img-rounded" style="margin:0px auto;">

                </div>
                <div class="slide_bg">Projet de Réhabilitation de conduite d'eau potable</div>
            </div>

            <!-- Page 3 -->
            <div class="item slider">
                <div class="carousel-page">
                    <img src="{{ asset('bundles/wikiwikimaire/img/slide/slide3.jpeg') }}" class="img-responsive img-rounded" style="margin:0px auto;max-height:100%;">

                </div>
                <div class="slide_bg">Projet de construction d'une école numérique</div>
            </div>
        </div>
        <!-- Contrôles -->
        <a class="left carousel-control" href="#my_carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#my_carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-offset-1">
                <div id="column" class="left">
                    <div class="on-third-left">
                        <h4>Comment ça marche ?</h4>

                        <div class="blockquote">
                            <p class="blockquote"> Vous avez un nouveau projet ?
                                Vous ne savez pas comment vous lancer ? Un projet similaire existe t il ? Une fois
                                inscrit sur le site, vous pourrez identifier des projets proches du votre, contacter le
                                maire qui a réalisé celui ci et avoir des réponses claires à vos questions...</p>
                        </div>
                        <div class="blockquote">
                            <p class="blockquote"> Vous recherchez un expert pour vous aider dans la réalisation de
                                votre projet .
                                Ce site peut vous apporter des réponses, vous allez pouvoir sélectionner et contac-
                                ter des experts avec des compétences juridiques, techniques, financières, pédago-
                                giques....dans les domaines de votre recherche.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a href="{{ path('contact') }}">
            <button class="btn1 btn-default">Inscription</button>
        </a>

    </div>



    <!--
    // Proposition de projets


    <div class="hr_line"></div>
    <div class="section"  style="padding-bottom: 25px;">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3 class="text-center">Projet 1</h3>
                    <img src="{{ asset('bundles/wikiwikimaire/img/img_test.jpg') }}" alt="" class="img-thumbnail img-responsive">
                    <p style="padding-top: 10px;">Laboratoire de recyclage et de fabrication numérique.Les fablabs sont un réseau mondial de laboratoires locaux...</p>
                    <a href="#" class="btn btn-default">Lire plus</a>
                </div>
                <div class="col-md-3">
                    <h3 class="text-center">Projet 2</h3>
                    <img src="{{ asset('bundles/wikiwikimaire/img/img_test.jpg') }}" alt="" class="img-thumbnail img-responsive">
                    <p style="padding-top: 10px;">Projet d’innovation des Femmes dans le domaine des TIC. Le groupe femmes & TIC RIM a eu comme activité.</p>
                    <a href="#" class="btn btn-default">Lire plus</a>
                </div>
                <div class="col-md-3">
                    <h3 class="text-center">Projet 3</h3>
                    <img src="{{ asset('bundles/wikiwikimaire/img/img_test.jpg') }}" alt="" class="img-thumbnail img-responsive">
                    <p style="padding-top: 10px;">Projet d’innovation dans la cartographie numérique libre.OSM est un projet qui a pour but de constituer une base de données géographique...</p>
                    <a href="#" class="btn btn-default">Lire plus</a>
                </div>
                <div class="col-md-3">
                    <h3 class="text-center">Projet 4</h3>
                    <img src="{{ asset('bundles/wikiwikimaire/img/img_test.jpg') }}" alt="" class="img-thumbnail img-responsive">
                    <p style="padding-top: 10px;">Projet d’innovation dans le développement des applications mobile. projet de Mauritanie Mobile consiste à encourager les jeunes à innover...</p>
                    <a href="#" class="btn btn-default">Lire plus</a>
                </div>
            </div>
        </div>
    </div>

    -->
    <footer>
        <p>&copy; Wiki des Maires</p>
    </footer>
{% endblock %}