{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/wikiwikimaire/css/projet_detail.css') }}" type="text/css"/>
{% endblock %}

{% block body -%}

    <!-- Infos de connection -->
    <div class="container info_co">
        <div class="col-md-7"></div>
        <div class="col-md-4">
            <ul>
                <li>Commune de {{ app.user.commune.nomcommune }}</li>
                <li><a href="{{ path('fos_user_profile_show') }}">Mon Profil <span
                                class="glyphicon glyphicon-user"></span></a></li>
                <li><a href="{{ path('fos_user_security_logout') }}">Se déconnecter <span
                                class="glyphicon glyphicon-log-out"></span></a></li>
            </ul>
        </div>
    </div>

    <!-- Corps de la Page -->


    <div class="section">

        <!-- Titre -->
        <div class="container titre">
            <div class="row">
                <div class="col-md-2">
                    <h1><a href="{{ path('projet_detail', { 'id': entity.id }) }}">{{ entity.nomprojet }} : </a></h1>
                </div>
            </div>
        </div>

        <!-- Image Projet -->
        <div class="container img_projet">
            <div class="row">
                <div class="col-md-11">
                    <a href="#">
                        <img src="{{ app.request.basepath }}/uploads/{{ entity.photo }}" class="img-thumbnail">
                    </a>
                </div>
            </div>
        </div>

        <!-- Corps du Projet -->
        <div class="container corps_projet">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#projet">Projets:</a></li>
                <li><a data-toggle="tab" href="#actu">Actualités:</a></li>
                <li><a data-toggle="tab" href="#com">Commentaires:</a></li>
            </ul>
            <div class="tab-content">
                <div id="projet" class="tab-pane fade in active">
                    <p>- Description : {{ entity.description }}</p>
                    <p>- Date de réalisation: {% if entity.daterealisation %}{{ entity.daterealisation|date('Y') }}{% endif %}</p>
                    <p>- Durée : {{ entity.duree }}</p>
                    <p>- Gain pour la commune : {{ entity.gains }}</p>
                    <p>- Cout de réalisation : {{ entity.cout }} Euro </p>
                    <p>- Financement : {{ entity.financement }}</p>
                </div>
                <div id="actu" class="tab-pane fade">
                    <p>actu</p>
                </div>
                <div id="com" class="tab-pane fade">
                    <p>Commentaire 1</p>

                    <p>Commentaire 2</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact -->
    <div class="rectangle">
        <h5>Contact</h5>
    </div>
    <div class="container contact">

        <div class="col-md-11">
            <p><span class="glyphicon glyphicon-envelope"></span> {{ entity.user.email }}</p>

            <p><span class="glyphicon glyphicon-earphone"></span> {{ app.user.phone }}</p>
        </div>

    </div>

    <!-- Projet Similaires -->
    <div class="rectangle">
        <h5>Projets Similaires</h5>
    </div>

    {#<ul>


        <li>{{ entity.description }}</li>
        <li>{% if entity.daterealisation %}{{ entity.daterealisation|date('Y-m-d H:i:s') }}{% endif %}</li>
        <li>{{ entity.difficulte }}</li>
        <li>{{ entity.cout }}</li>
        <li>{{ entity.tailleprojet }}</li>
        <li>{{ entity.bassinPopulation }}</li>
        <li>{{ entity.user.username}}</li>
        <a href="#">
            <img src="{{app.request.basepath}}/uploads/{{ entity.photo }}" class="img-thumbnail" >
        </a>

    </ul>#}
{% endblock %}



{% block javascripts %}
    <script src="{{ asset('bundles/wikiwikimaire/js/jquery-1.11.3.min.js') }}"></script>
    <script src="{{ asset('bundles/wikiwikimaire/js/jcanvas.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/jquery.canvasjs.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>



    <script>
        window.onload = function () {

            var dps = [
                {y: 10, legendText:"Etat", label: "Etat 10%"},
                {y: 13, legendText:"Région", label: "Région 13%"},
                {y: 18, legendText:"Département", label: "Département 18%"},
                {y: 20, legendText:"EPCI", label: "EPCI 20%"},
                {y: 5,  legendText:"autre", label: "autre 5%"}
            ];
            var bmp = [{x:"Etat"}, { x: "Région"}, { x: "Département"}, { x: "EPCI"}, {x: "autre"}];
            //dataPoints.

            var chart = new CanvasJS.Chart("chartContainer",{
                title :{
                    text: "Financement"
                },
                data: [{
                    type: "pie",
                    dataPoints : dps,
                    indexLabels : bmp
                }],
                legendText: bmp
            });

            chart.render();
            var xVal = dps.length + 1;
            var yVal = 15;
            var updateInterval = 1000;

            var updateChart = function () {


                yVal = yVal +  Math.round(5 + Math.random() *(-5-5));
                dps.push({x: xVal,y: yVal});

                xVal++;
                if (dps.length >  10 )
                {
                    dps.shift();
                }

                chart.render();

// update chart after specified time.

            };
        }
    </script>

<div id="chartContainer" style="height: 300px; width: 100%;"></div>


{% endblock %}

