{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ entity.nomprojet }}</h1>

    <ul>
        <td><a href="{{ path('projet_detail', { 'id': entity.id }) }}">{{ entity.nomprojet }}</a></td>
        <li>{{ entity.description }}</li>
        <li>{% if entity.daterealisation %}{{ entity.daterealisation|date('Y-m-d H:i:s') }}{% endif %}</li>
        <li>{{ entity.difficulte }}</li>
        <li>{{ entity.cout }}</li>
        <li>{{ entity.tailleprojet }}</li>
        <li>{{ entity.bassinPopulation }}</li>
        <li>{{ entity.user.username}}</li>

    </ul>
{% endblock %}
