{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/wikiwikimaire/css/projet_detail.css') }}" type="text/css"/>
{% endblock %}

{% block body -%}

    <!-- Infos de connection -->
    <div class="info_co">
        <div class="col-md-7"></div>
        <div class="col-md-4">
            <ul>
                <li>Commune de {{ app.user.commune.nomcommune }}</li>
                <li><a href="{{ path('fos_user_profile_show') }}">Mon Profil <span
                                class="glyphicon glyphicon-user"></span></a></li>
                <li><a href="{{ path('fos_user_security_logout') }}">Se déconnecter <span
                                class="glyphicon glyphicon-log-out"></span></a></li>
            </ul>
        </div>
    </div>

    <!-- Corps de la Page -->


    <div class="section">

        <!-- Titre -->
        <div class="titre">
            <div class="row">
                <div class="col-md-12">
                    <h1><a href="{{ path('projet_detail', { 'id': entity.id }) }}">{{ entity.nomprojet }} </a></h1>
                </div>
            </div>
        </div>

        <!-- Image Projet -->
        <div class="img_projet">
            <div class="row">
                <div class="col-md-11">
                    <a href="#">
                        <img src="{{ app.request.basepath }}/uploads/{{ entity.photo }}" class="img-thumbnail">
                    </a>
                </div>
            </div>
        </div>

        <!-- Corps du Projet -->
        <div class="corps_projet">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#projet">Projets:</a></li>
                <li><a data-toggle="tab" href="#actu">Actualités:</a></li>
                <li><a data-toggle="tab" href="#com">Commentaires:</a></li>
            </ul>
            <div class="tab-content">
                <div id="projet" class="tab-pane fade in active">

                    <p>- <b>Description :</b> {{ entity.description }}</p>
                    <p>- <b>Date de réalisation:</b> {% if entity.daterealisation %}{{ entity.daterealisation|date('Y') }}{% endif %}</p>
                    <p>- <b>Durée :</b> {{ entity.duree }}</p>
                    <p>- <b>Gain pour la commune :</b> {{ entity.gains }}</p>
                    <p>- <b>Cout de réalisation :</b> {{ entity.cout }} Euro </p>
                    <p>- <b>Financement :</b></p>

                    <div style="width: 100%; height: 100%;">
                        <canvas id="myChart" style="width:800px; height: 400px;"></canvas>
                    </div>
                    <div id="js-legend" class="chart-legend"></div>
                </div>


                <div id="actu" class="tab-pane fade">
                    <p>actu</p>
                </div>
                <div id="com" class="tab-pane fade">

                    <ul>
                        {% for comment in comments %}
                            <li>{{ comment.message }}</li>
                        {% endfor %}
                    </ul>

                    <div>

                        {{ form_start(form) }}
                        {{ form_widget(form.message) }}
                        {{ form_widget(form.submit) }}
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact -->
    <div class="rectangle">
        <h5>Contact</h5>
    </div>
    <div class="container contact">

        <div class="col-md-12">
            <p><span class="glyphicon glyphicon-envelope"></span> {{ entity.user.email }}</p>

            <p><span class="glyphicon glyphicon-earphone"></span> {{ app.user.phone }}</p>
        </div>

    </div>

    <!-- Projet Similaires -->
    <div class="sim-projets container">
        <div class="rectangle">
            <h5>Projets Similaires</h5>
        </div>
        <div class="row">
            {% for proj in try %}

                <div class="col-md-6">
                    <div id="hi">

                        <h5 class="text-center">{{ proj.nomprojet }}</h5>
                        <a href="{{ path('projet_detail', { 'id': entity.id }) }}"><img
                                    src="{{ app.request.basepath }}/uploads/{{ proj.photo }}" alt=""
                                    class="img-thumbnail img-responsive"></a>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/wikiwikimaire/js/jquery-1.11.3.min.js') }}"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>


    <script>
        $.ajax({
                    url: '{{ path("projet_recherche", {"id": entity.id}) }}',
                    datatype: 'json'
                })
                .done(function (data) {
                    console.log(data);
                    var str = data.financement;
                    var dato = [];
                    var i = 0;
                    var key = "";
                    var value = "";
                    var colors = ["blue", "gray", "green", "yellow", "purple", "red"];
                    var inValue = false;
                    while (str[i]) {
                        if (str[i] != ':' && !inValue) {
                            key += str[i];
                        } else if (str[i] === ':') {
                            inValue = true;
                        } else if (inValue && str[i] != ';') {
                            value += str[i];
                        } else {
                            inValue = false;
                            value = parseInt(value);
                            dato.push({
                                label: key,
                                value: value,
                                color: colors[i % 6]
                            });
                            key = "";
                            value = "";
                        }
                        i++;
                    }
                    console.log(dato);
                    var options = {
                        segmentShowStroke: false,
                        animateRotate: true,
                        animateScale: false,
                        percentageInnerCutout: 50,
                        tooltipTemplate: "<%= label %>" + " " + "<%= value %> %"
                    }
                    var canvas = document.getElementById("myChart");
                    var ctx = canvas.getContext("2d");
                    new Chart(ctx).Doughnut(dato, options);

                    //Legend  du camembert
                    document.getElementById('js-legend').innerHTML = myChart.generateLegend();

                });
    </script>


{% endblock %}

