{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/wikiwikimaire/css/style.css') }}" type="text/css"/>
{% endblock %}
{% block body -%}
    {{ dump(entity) }}
<a class="btn btn-info" href="{{ path('projet') }}">Retour</a>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1><a href="{{ path('projet_detail', { 'id': entity.id }) }}">{{ entity.nomprojet }}</a></h1>
                    <h4> Commune de Réalisation : {{ app.user.commune.nomcommune }} comptant {{ entity.bassinPopulation }} Habitants</h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 tab1">
                    <a href="#">
                        <img src="{{app.request.basepath}}/uploads/{{ entity.photo }}" class="img-thumbnail" >
                    </a>
                </div>
                <div class="col-md-4  tab2">
                    <p>Maire : {{ entity.user.lastname}} {{ entity.user.firstname}}<a href="{{ path('sonata_user_profil',{ 'id': entity.id }) }}">Voir son profil</a></p>
                    <p>Budget : {{ entity.cout }} Euro</p>
                    <p>Date  : {% if entity.daterealisation %}{{ entity.daterealisation|date('Y') }}{% endif %}</p>
                    <p>Contact :</p>
                    <p>Taille du Projet : {{ entity.tailleprojet }}</p>
                    <p>Adresse : {{ app.user.adressemairie }}</p>
                    <p>Contact : {{ app.user.phone }}</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 tab1">
                   <h3>Description</h3>
                    {{ entity.description }}
                </div>
            </div>
        </div>

    </div>
    {#<ul>


        <li>{{ entity.description }}</li>
        <li>{% if entity.daterealisation %}{{ entity.daterealisation|date('Y-m-d H:i:s') }}{% endif %}</li>
        <li>{{ entity.difficulte }}</li>
        <li>{{ entity.cout }}</li>
        <li>{{ entity.tailleprojet }}</li>
        <li>{{ entity.bassinPopulation }}</li>
        <li>{{ entity.user.username}}</li>
        <a href="#">
            <img src="{{app.request.basepath}}/uploads/{{ entity.photo }}" class="img-thumbnail" >
        </a>

    </ul>#}
{% endblock %}
