{% extends "::base.html.twig" %}

{% block title %}WikiWikiMaireBundle:Projet:index{% endblock %}

{% block body %}
    <div class="well">
        <table>
            <thead>
            <tr>
                <th>Nom Projet :</th>
                <th>Commune :</th>
                <th>Maire :</th>
                <th>Experts :</th>
                <th>Coût :</th>
                <th>Date :</th>
                <th>Description :</th>
                <th>Difficulté :</th>
                <th>Taille Projet :</th>
                <th>Bassion population :</th>
            </tr>
            </thead>
            <tbody>
                {% for projet in projets %}
                    <tr>
                        <td>{{ projet.nomprojet }}</td>
                        <td>{{ projet.commune }}</td>
                        <td></td>
                        <td>{{ projet.expert }}</td>
                        <td>{{ projet.cout }}</td>
                        <td>{% if projet.date %}{{ projet.date|date('Y-m-d') }}{% endif %}</td>
                        <td>{{ projet.description }}</td>
                        <td>{{ projet.difficulte }}</td>
                        <td>{{ projet.tailleprojet }}</td>
                        <td>{{ projet.bassinpopulation }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
