{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{{ asset('bundles/wikiwikimaire/css/style.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/wikiwikimaire/css/pageprofil.css') }}" type="text/css"/>
{% endblock %}
{% block javascripts %}
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
    <script>
        $( function() {
            // quick search regex
            var qsRegex;
            // init Isotope
            var $grid = $('.grid').isotope({
                itemSelector: '.element-item',
                layoutMode: 'fitRows',
                filter: function() {
                    return qsRegex ? $(this).text().match( qsRegex ) : true;
                }
            });
            // use value of search field to filter
            var $quicksearch = $('.quicksearch').keyup( debounce( function() {
                qsRegex = new RegExp( $quicksearch.val(), 'gi' );
                $grid.isotope();
            }, 200 ) );
        });
        // debounce so filtering doesn't happen every millisecond
        function debounce( fn, threshold ) {
            var timeout;
            return function debounced() {
                if ( timeout ) {
                    clearTimeout( timeout );
                }
                function delayed() {
                    fn();
                    timeout = null;
                }
                timeout = setTimeout( delayed, threshold || 100 );
            }
        }
    </script>
{% endblock %}
{% block body -%}

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div id="imaginary_container">
                    <h1 align="center">Rechercher un Projet</h1>
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control quicksearch"  placeholder="Search" id="tags">
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    {#<div class="ui-widget">
        <label for="tags">Rechercher un projet: </label>
        <input id="tags" type="text">
    </div>#}
    <div class="grid">
        <div class="projects ">
            {% for entity in entities %}
                <div class="row project element-item col-md-12">
                    {#{% if loop.index is even %}#}
                        {#<div class="col-md-5">#}
                            {#<a href="#">#}
                                {#<img src="{{app.request.basepath}}/uploads/{{ entity.photo }}" class="img-thumbnail" >#}
                            {#</a>#}
                        {#</div>#}
                        {#<div class="col-md-7">#}
                            {#<p>Description :</p>#}
                            {#<p>{{ entity.description }}</p>#}
                        {#</div>#}
                    {#{% else %}#}
                        <div class="col-md-7">
                            <p>Description :</p>
                            <p>{{ entity.description }}</p>
                        </div>
                        <div class="col-md-5">
                            <a href="#">
                                <img src="{{app.request.basepath}}/uploads/{{ entity.photo }}" class="img-thumbnail" >
                            </a>
                        </div>
                    {#{% endif %}#}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
