{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Projet</h1>

    <table class="record_properties">
        <tbody>


            <tr>
                <th>Nom du projet</th>
                <td>{{ entity.nomprojet }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Date de realisation</th>
                <td>{{ entity.daterealisation|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Difficulte</th>
                <td>{{ entity.difficulte }}</td>
            </tr>
            <tr>
                <th>Cout</th>
                <td>{{ entity.cout }}</td>
            </tr>
            <tr>
                <th>Taille du projet</th>
                <td>{{ entity.tailleprojet }}</td>
            </tr>
            <tr>
                <th>Bassin de population</th>
                <td>{{ entity.bassinPopulation }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('projet') }}">
            <button class="btn btn-default">Retourner à la liste</button>
        </a>
    </li>
    <li>
        <a href="{{ path('projet_edit', { 'id': entity.id }) }}">
            <button class="btn btn-default">Editer</button>
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
