{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Projet</h1>

    <table class="record_properties">
        <tbody>

            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nomprojet</th>
                <td>{{ entity.nomprojet }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Daterealisation</th>
                <td>{{ entity.daterealisation|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Difficulte</th>
                <td>{{ entity.difficulte }}</td>
            </tr>
            <tr>
                <th>Cout</th>
                <td>{{ entity.cout }}</td>
            </tr>
            <tr>
                <th>Tailleprojet</th>
                <td>{{ entity.tailleprojet }}</td>
            </tr>
            <tr>
                <th>Bassinpopulation</th>
                <td>{{ entity.bassinPopulation }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('projet') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('projet_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
